

<div class='ui container'>
	<div class='ui grid'>
		<div class='sixteen wide column'>
			<div class='ui segment'>
				<h2>Admin sitemap</h2>
				<div class='ui ordered list'>
					<div class='item'>
						<div>GSTIN</div>
						<div class='ui ordered list'>
							<a href="/admin/gstins" class="item">View all gstins</a>
							<a href="/admin/gstin/create" class="disabled item">Create GSTIN (coming soon...)</a>
						</div>
					</div>
					<div class='item'>
						<div>GSTIN</div>
						<div class='ui ordered list'>
							<a href="/admin/filings" class="item">View all filings</a>
							<a href="/admin/filing/create" class="disabled item">Create Filing (coming soon...)</a>
						</div>
					</div>
					<div class='item'>
						<div>Users</div>
						<div class="ui ordered list">
							<a href="/admin/users" class="disabled item">View all users (coming soon...)</a>
							<a href="/admin/user/create" class="disabled item">Create user (coming soon...)</a>
						</div>
					</div>
					<div class='item'>
						<div>Leads</div>
						<div class="ui ordered list">
							<a href="/admin/leads" class="disabled item">View all leads(coming soon...)</a>
							<!-- <a href="/admin/lead/create" class="item">Create lead</a> -->
						</div>
					</div>
					<div class='item'>
						<div>Reports</div>
						<div class="ui ordered list">
							<a href="/admin/report/mrr" class="item">Monthly recurring revenue</a>
							<a href="/admin/report/filing_status" class="item">Filing status</a>
							<a href="/admin/report/mrr" class="disabled item">Invoice Vs Documents(coming soon...)</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>